<h3>Equipment</h3>
<ul>
  <li *ngFor="let piece of pileOfEquipment">
    <span *ngIf="equipmentBeingEdited !== piece; else editEquipmentBlock">
      <!-- Show piece of equipment -->
      <span (click)="edit(piece)" class="editable-text">{{piece}}</span>      
      <button (click)="remove(piece)">remove</button>
    </span>
    
    <ng-template #editEquipmentBlock>
      <!-- Else, edit the piece of equipment -->
      <input #newEquipmentName (keyup.enter)="save(newEquipmentName.value, piece)" value="{{ piece }}" />
      <button (click)="save(newEquipmentName.value, piece)">save</button>
    </ng-template>
  </li>
</ul>

<input #name type="text" (keyup.enter)="add(name.value)" />
<button (click)="add(name.value)">Add</button>